*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('galaxy.jpg');
    background-size: auto;
}
.sun{
    height: 175px;
    width: 175px;
    border-radius: 50%;
    background: linear-gradient(to bottom right, #FFD700, #FF8C00, #FF4500);
    position: absolute;
    box-shadow: 0 0 75px rgba(255, 141, 0, 1);
}
.earth{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background: url('earth.jfif');
    position: relative;
    animation: earth-orbit 7s linear infinite;
}
.earth:after{
    content: "";
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    background: url('full-moon.webp');
    border: none;
    background-size: cover;
    animation: moon-orbit 3.5s linear infinite;
}
@keyframes earth-orbit{
    from{
        transform: rotate(0deg) translateX(220px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translateX(220px) rotate(-360deg);
    }
}
@keyframes moon-orbit{
    from{
        transform: rotate(0deg) translateX(75px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translateX(75px) rotate(-360deg);
    }
}